body {
  background-color: #111135;
}

.container {
  display: flex;
  justify-content: center;
  margin: 15% auto;
  border-style: none;
}

input {
  width: 100%;
  height: 20%;
  text-align: center;
}
span {
  font-size: 1.5rem;
  margin: 0.5rem;
  color: aliceblue;
}

.btn {
  margin: 3%;
  font-size: 1.3rem;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}
